fastapi
uvicorn
sqlalchemy
aiosqlite
passlib[bcrypt]
python-jose[cryptography]
email-validator
pydantic[email]
authlib
httpx
google-auth
python-multipart
requests
python-dotenv
asyncpg
alembic
aiofiles
pydantic-settings
cloudinary